@import "tailwindcss";

@theme {
  --color-slate-800: #1e293b;
}

@layer base {
  body {
    background-color: #f8fafc;
    color: var(--color-slate-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

